<ul>
    <li style="background-color: #4CA;"><a href="#home">Todo-App</a></li>
    
    <li><a href="#about" id="user_name">{{myName}}</a></li>
    <li id="btn2" style="float:right;"><button (click)="onClickMe()" style="margin:14px 16px;"><i class="fa fa-plus"></i></button></li>
  </ul>

 

  <div *ngIf= "show" style="text-align:center" [class.todocomponent]="classObject.todocomponent" #newHero>
      TITLE:<br>
      <input #Title type="text" name="title"><br>
      AUTHOR:<br>
      <input #Author type="text" name="author"><br>
      TODO:<br>
      <input #Todo type="text" name="todo"><br><br>

      <button (click)="onClickMe()" (click)="addTodo(Title.value,Author.value,Todo.value)" id="addtodo" type="button">ADD TODO!</button>
  </div>



<section id="section">

      <ol>
        <li *ngFor="let x of names"> 
          <div class="card container">
            <h1 class="blogHeader">{{x.Title}}</h1>
            <p class="blogAuthor">Written By {{x.Author}}</p>
            <p class="blogContent">{{x.ToDo}}</p>
            
          </div>
        </li>
      </ol>
      
</section>
